body {
    font-family: "Inter", sans-serif;
    line-height: normal;
    font-style: normal;
    font-weight: 400;
  }
  
  a {
    text-decoration: none;
    font-style: normal;
  }
  
  li {
    list-style: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  p {
    margin-top: 0;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .container {
    width: 1030px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* едер */
  .header {
    margin-left: 185px;
    position: absolute;
    margin-top: 95px;
  }
  .menu-list{
    gap: 10px;
    display:flex;
  }
.menu-link {
  color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 200;
line-height: normal;
}

  /* герой */
  .hero-text{
    color: #FFF;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 570.253px;
    }
  .hero {
    background-image: url(../images/hero.png);
    width: 1431px;
height: 1023px;
margin-left: auto;
margin-right: auto;

  }

  .hero-tital {
    color: #FFF;
    font-family: Inter;
    font-size: 70px;
    font-style: normal;
    font-weight: 200;
    line-height: normal; 
    padding-top: 195px;
    width: 551px;
  }